@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #064e3b;
  --primary-hover: #065f46;
  --secondary: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins), Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Messages scrollbar */
.messages-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.messages-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.messages-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 99px;
}
.messages-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}
